<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="author" content="John Doe">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Emotron</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#b1").click(function(){
    $("#circle1").css("display", "block");
    $("#b1").css("display", "none");
  });

  $("#b2").click(function(){
    $("#circle2").css("display", "block");
    $("#b2").css("display", "none");
  });


});
</script>
</head>


    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico" />
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>

    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->




<body data-spy="scroll" data-target="#primary-menu">

    <div class="preloader">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>

 

    <!--Mainmenu-area-->
    <div class="mainmenu-area" data-spy="affix" data-offset-top="100">
        <div class="container">
            <!--Logo-->
            <div class="navbar-header">
                
                <a href="#" class="navbar-brand logo">
                    <h2>Emotron</h2>
                </a>
            </div>
            <!--Logo/-->
     
        </div>
    </div>
    <!--Mainmenu-area/-->



    <!--Header-area-->
    <header class="header-area overlay full-height relative v-center" id="home-page">
        <div class="absolute anlge-bg"></div>
      
    </header>
    <!--Header-area/-->



    <!--Feature-area-->
    <section class="gray-bg section-padding" id="service-page">
      
                 
                      
                        <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                            <div class="page-title">
                                <h2>It’s all about Emotions</h2>
                                <p>Emotion Recognition through face and voice</p>
                            </div>
                        </div>
                

                        <div class="container" >
                            <div class="row">
                <div class="col-xs-12 col-sm-4 text-center">
                 
                    <div class="box">
                        <div class="box-icon">
                            <img src="images/face.png" alt="">
                        </div>
                        <h4>FACIAL EXPRESSION</h4>
                        <p> Upload your image to know the facial expression you have in that picture</p><br>
                        
                        <form action="/pictureprediction" enctype="multipart/form-data" method="post">
                                 
                            <input type="file" name="upload" id="upload-input" > <br>
                            <button id="b1" type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
                            <!-- <input type="submit"> -->
                            
                           
                             
                         </form>

                         <div id="circle1">
                            <div class="loader">
                              <div class="loader">
                                  <div class="loader">
                                     <div class="loader"> 
                          
                                    </div> 
                                  </div>
                              </div>
                            </div>
                          </div>

                    </div>
                
                </div>
             
            
                <div class="col-xs-12 col-sm-4">
                    <a href="audio">
                        <div class="box">
                            <div class="box-icon">
                                <img src="images/voice.png" alt="">
                            </div>
                            <h4>Voice Emotion</h4>
                            <p>upload your audio to extract hidden emotions from your voice</p><br>
                            <form action="/audioprediction" enctype="multipart/form-data" method="post">
                                 
                                <input type="file" name="upload" id="upload-input" > <br>
                                <button id="b2" type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
                                <!-- <input type="submit"> -->
                                
                               
                                 
                             </form>

                             <div id="circle2">
                                <div class="loader">
                                  <div class="loader">
                                      <div class="loader">
                                         <div class="loader">
                              
                                         </div>
                                      </div>
                                  </div>
                                </div>
                              </div>

                        </div>
                         </a>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a href="audio">
                        <div class="box">
                            <div class="box-icon">
                                <img src="images/video.png" alt="">
                            </div>
                            <h4>Live Emotions</h4>
                            <p>Emotions extracted from live video feed</p>
                            <h4 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #478fc2;">coming soon</h4>
                        </div>
                         </a>
                </div>
            </div>
        </div>
    </section>
    







    <footer class="footer-area relative sky-bg" id="contact-page">
        <div class="absolute footer-bg"></div>
        <div class="footer-top">
           
         
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                        <div class="page-title">
                            <h2>Contact with us</h2>
                            
                        </div>
                    </div>
           
              
             
            
        </div>
        <div class="footer-middle" >
            <div class="container">
                <div class="row" >
                    <div class="col-xs-12 col-sm-6 pull-right">
                        <div class="side-icon-box">
                            <div class="side-icon">
                                <img src="images/phone-arrow.png" alt="">
                            </div>
                            <p><strong>Telephone: </strong>
                                <a href="callto:+923359399030">+923359399030</a> <br />
                                
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="side-icon-box">
                            <div class="side-icon">
                                <img src="images/mail-arrow.png" alt="">
                            </div>
                            <p><strong>E-mail: </strong>
                                <a href="mailto:hamza_raja179@yahoo.com">hamza_raja179@yahoo.com</a> <br />
                                <a href="mailto:malikmaryam226@gmail.com">malikmaryam226@gmail.com</a> <br />
                                <a href="mailto:mosazahid97@gmail.com">mosazahid97@gmail.com</a> <br />

                             
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <p>&copy;Copyright 2020 All right resurved. </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>





    <!--Vendor-JS-->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <!--Plugin-JS-->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/contact-form.js"></script>
    <script src="js/jquery.parallax-1.1.3.js"></script>
    <script src="js/scrollUp.min.js"></script>
    <script src="js/magnific-popup.min.js"></script>
    <script src="js/wow.min.js"></script>
    <!--Main-active-JS-->
    <script src="js/main.js"></script>
</body>

</html>
